.main-title {
  font-size: 2.8rem;
  color: #000;
  font-family: "Squada One", sans-serif;
  margin-bottom: 16px;
}

.about-section {
  background: #fff;
  padding: 48px 0 64px 0;
  text-align: center;
}

.about-title {
  display: inline-block;
  font-family: "Squada One", sans-serif;
  font-size: 2.5rem;
  color: #4A3252;
  font-weight: bold;
  border: 6px solid #4A3252;
  border-radius: 0.2em;
  padding: 12px 48px;
  margin-bottom: 32px;
  margin-top: 0;
}

.about-text {
  max-width: 800px;
  margin: 32px auto 0 auto;
  font-family: "Squada One", sans-serif;
  font-size: 1.05rem;
  color: #000;
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
}