footer {
  background-color: #000; /* Mesma cor da navbar preta */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.contact-purple-bg {
  background: #4A3252;
  color: #fff;
}
.contact-purple-bg .form-control {
  background: #fff;
  color: #000;
}
.contact-purple-bg .form-control::placeholder {
  color: #888;
}